/* Основные стили */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f4f1;
}

/* Шапка */
.header {
    background-color: #f9f4f1;
    padding: 10px 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Верхняя строка с email и языком */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #7d7d7d;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.email {
    text-transform: uppercase;
}

.language-switch .lang {
    color: #7d7d7d;
    text-decoration: none;
    font-weight: bold;
}

.language-switch .lang.active {
    color: #d9a4a4;
}

.language-switch .lang:hover {
    color: #d9a4a4;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

/* logo*/
.logo img {
    height: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f4f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #7d7d7d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: normal;
    text-transform: none;
}

/* Navigation */
.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #7d7d7d;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-menu a:hover {
    color: #d9a4a4;
}

/* Иконки */
.icons {
    display: flex;
    gap: 15px;
}

.icons img {
    height: 20px;
    filter: grayscale(1);
}

.cart-icon {
    position: relative;
}

.cart-icon::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #e67e22;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

/* Hero Section */
.hero {
    position: relative;
    color: #fff;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f4f1;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
    background-size: cover;
}

.hero-content {
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-title {
    font-size: 52px;
    margin: 0;
    color: #f0f0f0;
}

.hero-text {
    font-size: 20px;
    margin: 10px 0 20px;
    width: 450px;
    color: #f0f0f0;
}

.shop-button {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.shop-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

/* Promo Section */
.promo {
    background-color: #d9a4a4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.promo-text {
    text-align: center;
    background-color: #d8a49b;
    color: white;
    font-size: 24px;
}

.promo-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.promo-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Welcome Section */
.welcome {
    background-color: #f9f4f1;
    text-align: center;
    padding: 40px 20px;
}

.welcome h2 {
    font-size: 28px;
    font-weight: normal;
    color: #000;
}

.welcome p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
}

/* Footer */
.footer {
    background-color: #d9a4a4;
    color: #fff;
    padding: 40px 20px;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.footer-column ul li a:hover {
    text-decoration: none;
}

.follow-us .social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.social-icons a:hover {
    color: #24262b;
    background-color: #fff;
}

/* Contact */

.contact-page {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px;
}

.contact-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.contact-info iframe {
    width: 600px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form {
    width: 420px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form h2 {
    color: #0056a3;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact-form p {
    font-size: 0.9em;
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

.contact-form label {
    width: 100%;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: calc(100% - 10px);
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 0.9em;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

.contact-form textarea {
    height: 120px;
    resize: vertical;
}

.contact-form .submit-btn {
    width: 100%;
    background-color: #d9a4a4;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.contact-form .submit-btn:hover {
    background-color: #e04e4e;
}

.social-media {
    display: flex;
    gap: 20px;
}

.social-media a {
    font-size: 1.2em;
    color: #333;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #d9a4a4;
}

/* Alert Contact*/

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/* About */
.about-hero {
    background: url("/images/aboutBG.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.about-hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.about-hero p {
    margin-top: 20px;
    width: 800px;
    font-size: 1.2rem;
}

.about-hero .btn-custom {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.about-hero .btn-custom:hover {
    background-color: #0056b3;
    color: white;
}

/* Vision */
.vision-section {
    padding: 50px 15px;
    background-color: #f8f9fa;
}

.vision-section h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
}

.vision-section p {
    text-align: center;
    font-size: 1.1rem;
    margin: 0 auto;
    max-width: 800px;
}

/* Profile */

.profile-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-container h3 {
    color: #000000d5;
}

.profile-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.success-message {
    padding: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.profile-form .form-group {
    margin-bottom: 15px;
}

.profile-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.verify-password-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.profile-form input[type="text"],
.profile-form input[type="email"],
.verify-password-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-update,
.btn-delete,
.btn-logout {
    font-family: "Poppins", sans-serif;
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}

.verify-password-form .btn-update,
.form-group {
    margin-top: 15px;
}

.btn-update {
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #d9a4a4;
    color: white;
}

.btn-update:hover {
    background-color: #f38787;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}

.btn-delete:hover {
    background-color: #a71d2a;
}

.btn-logout {
    padding: 10px 20px;
    font-size: 14px;
    color: #ff0000;
    background-color: transparent;
    border: 1px solid #ff0000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-logout:hover {
    background-color: #a53e4831;
}

.form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

/* Login */

.login-block {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.login-container {
    display: flex;
    width: 800px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Login left */
.login-left {
    width: 50%;
    background-color: #fafafa;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #333;
}

.login-left h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #302b63;
}

.login-left .form-group {
    margin-bottom: 20px;
}

.login-left label {
    font-size: 16px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.login-left input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.login-left input:focus {
    border-color: #302b63;
    outline: none;
}

.login-btn {
    font-family: "Poppins", sans-serif;
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    border: none;
    background-color: #d9a4a4;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #f38787;
}

.login-left p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.login-left a {
    color: #302b63;
    text-decoration: none;
    font-weight: bold;
}

/* Login right */

.login-right {
    width: 50%;
    background: linear-gradient(to bottom right, #d6bebe, #d9a4a4);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.login-right h2 {
    font-size: 27px;
    margin-bottom: 10px;
}

.login-right p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-style: italic;
}

.btn-signup {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #d9a4a4;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 20px;
}

.btn-signup:hover {
    background-color: #f0f0f0;
}

.image-container img {
    max-width: 100%;
    max-height: 150px;
    margin-top: 20px;
}
